@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	background: #010B18;
	background-repeat: no-repeat;
	font-family: 'Inter', sans-serif;
}

strong {
	color: #ffffff;
}

.bg-gradient-primary {
	background: linear-gradient(180deg, #0B0B1A 0%, #0B1626 30.29%, #010B18 60.1%);
}

.neon-warning-text {
	color: #FFF;
	text-shadow: 0px 0px 52.92px #ECACAC, 0px 0px 30.24px #ECACAC, 0px 0px 17.64px #ECACAC, 0px 0px 8.82px #FFF, 0px 0px 2.52px #FFF, 0px 0px 1.26px #FFF;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.neon-yellow-text {
	color: #FFF;
	text-shadow: 0px 0px 238.14px #F6D559, 0px 0px 136.08px #F6D559, 0px 0px 79.38px #F6D559, 0px 0px 39.69px #F6D559, 0px 0px 11.34px #F6D559, 0px 0px 5.67px #F6D559;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.custom-container {
	@apply xl:max-w-[1110px] mx-auto px-4 sm:px-6 lg:px-8;
}

.section-title {
	background: var(--Headline, linear-gradient(290deg, #0C101F -21.28%, #E6E6E6 23.54%, #808080 64.03%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.no-section-title {
	background-clip: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: transparent;
}

.last-gradient {
	background: linear-gradient(180deg, #010B18 -4.87%, #010B18 33.69%, #6D124B 54.78%, #060721 73.5%);
}

.gradient-border {
	border-color: linear-gradient(259deg, #E73D76 6.37%, #0A0A17 3.94%, #BD11C3 96.78%);
	border-width: 4px;
	border-style: solid;
}

.special-card {
	border-radius: 57px;
	background: linear-gradient(180deg, #051120 0%, #010B18 100%);
}